<head>
    <title>nflpickem</title>
</head>

<body>

</body>
<template name="home">
    <div class="row">
        <div class="col s12">
            <h1>NFL Pick'Em</h1>
        </div>
        <div class="col s12 #ffffff white">
            {{> loginButtons}} &nbsp;
        </div>
    </div>
    {{#if currentUser}}
    <a href="/profile">Profile</a> <a href="/leaderboard">Leaderboard</a>
    <div class="divider"></div>
    <div class="section">
        <h5>Week 1</h5>
        <p><a href="/week1">Click here for this weeks games</a></p>
        <p><a href="/week1results">Click here for this weeks results</a></p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h5>Week 2</h5>
        <p><a href="/week2">Click here for this weeks games</a></p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h5>Week 3</h5>
        <p><a href="/week3">Click here for this weeks games</a></p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h5>Week 4</h5>
        <p><a href="/week4">Click here for this weeks games</a></p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h5>Week 5</h5>
        <p><a href="/week5">Click here for this weeks games</a></p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h5>Week 6</h5>
        <p><a href="/week6">Click here for this weeks games</a></p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h5>Week 7</h5>
        <p><a href="/week7">Click here for this weeks games</a></p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h5>Week 8</h5>
        <p><a href="/week8">Click here for this weeks games</a></p>
    </div>
    <div class="divider"></div>

    {{/if}}
</template>

<template name="week1">

    <div class="col s12">
        <h1>NFL Pick'Em</h1>
    </div>
    <div class="col s12 #ffffff white">
        {{> loginButtons}}
    </div>
    <form name="week1">
        <p>
            <center>
                <input name="team1" type="radio" id="team1" />
                <label for="team1">Rams</label>
                <input name="team2" type="radio" id="team2" />
                <label for="team2">Raiders</label>
                <input type="submit" value="Submit">
            </center>
             </p> 
                </form>
</template>
<template name="week1results">

    <div class="col s12">
        <h1>NFL Pick'Em</h1>
    </div>
    <div class="col s12 #ffffff white">
        {{> loginButtons}}
    </div>
    <p>Rams(28) Vs. Patriots(21)</p>

</template>
<template name="week2">

    <div class="col s12">
        <h1>NFL Pick'Em</h1>
    </div>
    <div class="col s12 #ffffff white">
        {{> loginButtons}}
    </div>

</template>
<template name="week3">

    <div class="col s12">
        <h1>NFL Pick'Em</h1>
    </div>
    <div class="col s12 #ffffff white">
        {{> loginButtons}}
    </div>

</template>
<template name="week4">

    <div class="col s12">
        <h1>NFL Pick'Em</h1>
    </div>
    <div class="col s12 #ffffff white">
        {{> loginButtons}}
    </div>

</template>
<template name="week5">

    <div class="col s12">
        <h1>NFL Pick'Em</h1>
    </div>
    <div class="col s12 #ffffff white">
        {{> loginButtons}}
    </div>

</template>
<template name="week6">

    <div class="col s12">
        <h1>NFL Pick'Em</h1>
    </div>
    <div class="col s12 #ffffff white">
        {{> loginButtons}}
    </div>

</template>
<template name="week7">

    <div class="col s12">
        <h1>NFL Pick'Em</h1>
    </div>
    <div class="col s12 #ffffff white">
        {{> loginButtons}}
    </div>

</template>
<template name="week8">

    <div class="col s12">
        <h1>NFL Pick'Em</h1>
    </div>
    <div class="col s12 #ffffff white">
        {{> loginButtons}}
    </div>

</template>
<template name="profile">

    <div class="col s12">
        <h1>NFL Pick'Em</h1>
    </div>
    <div class="col s12 #ffffff white">
        {{> loginButtons}}
    </div>
    <div class="col s6 #000000 black">
        <h1>Your fav team is_________</h1>
    </div>
</template>
<template name="leaderboard">

    <div class="col s12">
        <h1>NFL Pick'Em</h1>
    </div>
    <div class="col s12 #ffffff white">
        {{> loginButtons}}
    </div>
    <table class="centered">
        <thead>
            <tr>
                <th data-field="position">Position</th>
                <th data-field="player">Player</th>
                <th data-field="favteam">Fav Team</th>
                <th data-field="record">Record</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>ballislife671</td>
                <td>Buccaneers</td>
                <td>4-0</td>
            </tr>
            <tr>
                <td>2</td>
                <td>oleboy23</td>
                <td>Rams</td>
                <td>3-1</td>
            </tr>
            <tr>
                <td>3</td>
                <td>j.boogie</td>
                <td>Raiders</td>
                <td>2-2</td>
            </tr>
        </tbody>
    </table>

</template>